{% extends "main/base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "deps/styles/account.css" %}" />
{% endblock styles %}

{% block wall %}
<div class="wall">
    <form id="accountForm" action="" method="get">
      <div>
        <p class="input-text">Вставьте ссылку на аккаунт:</p>
        <input type="text" class="form-control" id="textInput" style="font-size: 20px;" placeholder="https://vk.com/example"
         value="https://vk.com/" pattern="https://vk.com/.*" required>
      </div>
      <div>
        <ul>
          <li>
            <label><input type="checkbox" id="checkbox1" name="checkbox1">Получить краткую информацию</label>
          </li>
          <li>
            <label><input type="checkbox" id="checkbox2" name="checkbox2">Анализировать посты</label>
          </li>
          <li>
            <label><input type="checkbox" id="checkbox3" name="checkbox3">Анализировать комментарии</label>
          </li>
        </ul>
      </div>
      <div>
        <button class="btn btn-outline-secondary" type="submit" onclick="validateForm()">Отправить</button>
      </div>
    </form>
  </div>

{% endblock  %}