{% extends "main/base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "deps/styles/comments.css" %}" />
{% endblock styles %}

{% block wall %}
<div class="wall">
  <form id="commentsForm" method="GET" action="account/">
    <div>
      {% csrf_token %}
      <p class="input-text">Вставьте ссылку на сообщество или пользователя:</p>
      <input style="font-size: 20px;" class="form-control" id="textInput" name="input" placeholder="https://vk.com/example" 
       value="https://vk.com/" pattern="https://vk.com/.*" required>
    </div>
    <div>
      <ul>
        <li>
          <label>
            Анализировать комментарии под
            <input type="text" id="points" class="input-number" value=10>
            последними публикациями
        </label>
        </li>
        <li style="padding-top:5px">
          <label><input type="radio" id="radio1" name="radio">
            Указать ссылки на комментарии
          </label>
        </li>
        </li>
        <li>
          <label><input type="radio" id="radio2" name="radio">
            Указать ссылки на авторов
          </label>
        </li>
      </ul>
    </div>
    <div>
      <p class="help-text">Выберите форматы представления данных:</p>
      <ul>
          <li>
            <label><input type="checkbox" id="checkbox3" name="checkbox3">TXT</label>
          </li>
          <li>
            <label><input type="checkbox" id="checkbox4" name="checkbox4">CSV</label>
          </li>
          <li>
            <label><input type="checkbox" id="checkbox5" name="checkbox5">DOCX</label>
          </li>
        </ul>
    </div>
    <div>   
      <button class="btn btn-outline-secondary" type="submit" id="submitButton">Отправить</button>
    </div>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
  $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
  });
  $(document).ready(function() {
      function get_comments() {
          const data = {
              textInput: $("#textInput").val(),
              points: $("#points").val(),
              radio1: $("#radio1").prop("checked") ? "on" : "off",
              radio2: $("#radio2").prop("checked") ? "on" : "off",
              check3: $("#checkbox3").prop("checked") ? "on" : "off",
              check4: $("#checkbox4").prop("checked") ? "on" : "off",
              check5: $("#checkbox5").prop("checked") ? "on" : "off",
            };
          $.ajax({
              url: "/get_comments/", 
              type: "POST",
              data: data,
              xhrFields: {
                responseType: 'blob' 
            },
            success: function(response, status, xhr) {
              var blob = new Blob([response], { type: xhr.getResponseHeader('Content-Type') });
  
              var link = document.createElement('a');
              link.href = window.URL.createObjectURL(blob);
              link.download = getFileNameFromDisposition(xhr.getResponseHeader('Content-Disposition'));

              document.body.appendChild(link);
              link.click();
  
              document.body.removeChild(link);
          },
              error: function(xhr, status, error) {
                  console.error(error);
              }
          });
      }       
      
      function getFileNameFromDisposition(contentDisposition) {
        var fileName = '';
        if (contentDisposition && contentDisposition.indexOf('attachment') !== -1) {
            var matches = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/.exec(contentDisposition);
            if (matches != null && matches[1]) {
                fileName = matches[1].replace(/['"]/g, '');
            }
        }
        return fileName;
    } 
      
      $("#commentsForm").submit(function(event) {
          event.preventDefault();
          
          var inputText = $("#textInput").val();
          var points = $("#points").val();
          
          if(inputText === "https://vk.com/") {
              alert("Пожалуйста, введите данные");
              return;
          }
          
          if(points === "") {
              alert("Выберите количество комментариев");
              return;
          }

          if(points < 0) {
            alert("Введите положительное число");
        }

          if(!$("#checkbox3").is(":checked") && !$("#checkbox4").is(":checked") && !$("#checkbox5").is(":checked")) {
              alert("Выберите хотя бы один формат импорта данных");
              return;
          }
          
          if($("#checkbox3").is(":checked") || $("#checkbox4").is(":checked") || $("#checkbox5").is(":checked")) {
            get_comments();
        }
        });
      }); 
  </script>

{% endblock  %}